.edit-icon {
  position: absolute;
  bottom: 5px;
  right: 70px;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: url("https://www.svgrepo.com/show/42233/pencil-edit-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
  border: 1px solid gray;
}

.searched-pg {
  position: relative; /* Ensure absolute positioning works */
}

.delete-icon {
  position: absolute;
  bottom: 5px;
  right: 23px;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: url("https://cdn-icons-png.flaticon.com/512/3161/3161358.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  border: 1px solid gray;
}
